/* Generelt */
body {
    background-color: #E9E4DC; /* baggrundsfarven på selve body'en */
}
main {
    margin-top: 7rem; /* Add a top margin to avoid content overlay */ 
}

a:link {
    text-decoration: none; /* fjerner stregen under linket */
    color: #000; /* gør teksten sort */
    font-family: "Merriweather Sans", sans-serif; /* skiftypen på link */
}

:root {
    --skriftfarve: #000;
    --primaer-beige: #D9D2C7;
    --sekundaer-beige: #B6A08A;
    --sekundaer-moerk-beige: #8e7d6d;  
  }

/* -------------------------------------------------------------- */
/* HEADER */
header {
    background-color: var(--primaer-beige); /* baggrundsfarven på header */
    display: flex; /* gør header flexibel */
    flex-direction: row; /* gør header-containerne ligger på en række */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.header1 {
    width: 20%; /* størrelsen på den første header-container, som er usynlig / tom  */
}

.header2 {
    width: 60%; /* størrelsen på midter header-containeren, som indeholder logo og navbar */
    display: flex; /* gør containeren flexibel */
    flex-direction: column; /* gør elementerne inde i header2 containeren er i en kolonne */
}
.header2-logo {
    display: flex; /* gør containeren flexibel */
    justify-content: center; /* placere elementet i midten af containeren */
}
.header2-logo img{
    width: 15rem; /* størrelsen af logoet */
    height: auto; /* gør at billedet ikke bliver distorted */
    padding-top: 0.5rem; /* afstand til toppen af skærmen */
}

.navbar {
    display: flex; /* gør containeren flexibel */
    justify-content: center; /* placere elementerne i midten af containeren */
}
.navbar a {
    padding: 0.8rem; /* giver padding omkring hver link a i navbar-containeren */
}

.header3 {
    width: 20%; /* størrelsen af den sidste header-container */
    display: flex; /* gør containerne flexibel */
    justify-content: right; /* placere ikonerne til højre */
    align-items: end; /* placere den i det nedereste højrne af containeren. */
}
.header3 img {
    height: 2.5rem; /* størrelsen af ikonerne (login og kurv) i header3-containeren */
    padding: 0.3rem; /* giver padding omkring hvert ikon */
}

/* -------------------------------------------------------------- */
/* FOOTER */
footer {
    background-color: var(--primaer-beige); /* baggrundsfarve på footer */
    width: 100%; /* gør at det fylder hele skærmen ud */
}

.footercontainer {
    display: flex; /* gør containerne flexibel */
    justify-content: space-between; /* placerer elementerne i hver side af skærmen */
}

.footersocialemedier ul {
    list-style: none; /* fjerner prikkerne fra list-elementerne */
}

.footersocialemedier img {
    width: 2.5rem; /* størrelsen af sociale medier ikonerne */
    padding: 0.2rem; /* afstand rundt om ikonerne, så de ikke ligger for tæt */
}

.footerlinks {
    display: flex; /* gør containerne flexibel */
    flex-direction: column; /* placere elementerne i en kolonne */
    justify-content: center; /* placere elementerne i midten af containeren */
}

.footerlinks a {
    padding-right: 1.65rem; /* afstand til højre */
    padding-top: 0.5rem; /* afstand til element over */
    padding-bottom: 0.5rem; /* afstand til element under */
}
/* -------------------------------------------------------------- */
/* HOVEDFORSIDE */


/* -------------------------------------------------------------- */
/* MÅLTIDSKASSER - FORSIDE */

.billede-container-maaltidskasse {
    margin: 20rem auto; /* Centerer containeren */
    width: 20rem; /* Sætter bredden til 20px */
}


.billede-container-maaltidskasse img {
    max-width: 100%; /* Billederne fylder containerens bredde */
    height: auto; /* Bevarer billedets proportioner */
}

.billede-container-maaltidskasse p {
    width: 20px; /* Sætter bredden på teksten til 20px */
    margin: 0 auto; /* Centerer teksten */
    text-align: center;
}

.billede-container-maaltidskasse-udvalg {
    margin: 20rem auto; /* Centerer containeren */
    width: 20rem; /* Sætter bredden til 20px */
    display: flex; /* Brug Flexbox til at arrangere billederne i række */
    justify-content: center; /* Centerer indholdet horisontalt */
}

.billede-container-maaltidskasse-udvalg img {
    max-width: 100%; /* Billederne fylder containerens bredde */
    height: auto; /* Bevarer billedets proportioner */
    display: flex; /* Brug Flexbox til at arrangere billederne i række */
    justify-content: center; /* Centerer indholdet horisontalt */
}

.billede-container-maaltidskasse-udvalg p {
    width: 20px; /* Sætter bredden på teksten til 20px */
    margin: 0 auto; /* Centerer teksten */
    text-align: center;
}


/* -------------------------------------------------------------- */
/* MÅLTIDSKASSER - UNDERSIDE KØD */


/* -------------------------------------------------------------- */
/* MÅLTIDSKASSER - UNDERSIDE FISK */


/* -------------------------------------------------------------- */
/* MÅLTIDSKASSER - UNDERSIDE VEGANSK */


/* -------------------------------------------------------------- */
/* MADPAKKER - FORSIDE */


/* -------------------------------------------------------------- */
/* BENTO BOX - UNDERSIDE KØD */


/* -------------------------------------------------------------- */
/* BENTOBOX - UNDERSIDE FISK */


/* -------------------------------------------------------------- */
/* BENTO BOX - UNDERSIDE VEGANSK */


/* -------------------------------------------------------------- */
/* HOW TO DO - BRUGERANVISNING */
.HowToDo {
    display: flex; /* gør brugeranvisningen flexibel */
    justify-content: center; /* placere elementet i midten */
    padding: 20px; /* afstand omkring elementet */
}

.HowToDo img {
    width: 50%; /* størrelsen på howtodo - billedet justere bredden efter behov */
}

/* -------------------------------------------------------------- */
/* LOGIN */
  .login-box {
    width: 70%; /* Juster bredden efter behov */
    max-width: 30rem; /* Maximal bredde for at forhindre, at boksen bliver for bred på større skærme */
    margin: 10rem auto; /* Centrerer boksen vandret og giver 2rem margin øverst og nederst */
    padding: 2rem 7rem; /* 20px øverst og nederst, 70px i hver side */
    background-color: #f7f7ef; /* Baggrundsfarven for boksen */
    border: 0.12rem solid var(--sekundaer-beige); /* Ramme omkring boksen */
    border-radius: 0.3rem; /* Afrundede hjørner */
    text-align: center;
    font-family: "merriweather"; /* skrifttype*/
  }
  
  .login-box h2 {
    color: var(--skriftfarve); /* Farven på overskriften */
    font-family: "merriweather"; /* skrifttype*/
  }
  
  .login-box p {
    color: var(--skriftfarve); /* Farven på brødteksten */
    font-family: "merriweather"; /* skrifttype*/
  }
  /* img login */

  .login-img {
    width: 7rem; /* størrelsen af ikonerne (login og kurv) i header3-containeren */
    padding-bottom: 1.5rem; /* giver padding omkring hvert ikon */
  }

  /* knap login */
  .login-box .button-login {
    display: inline-block;
    padding: 0.3rem 2rem;
    background-color: var(--sekundaer-beige);
    color: #000;
    text-decoration: none;
    border-radius: 0.3rem;
    font-family: "merriweather"; /* skrifttype*/
  }
  
  .login-box .button-login:hover {
    background-color: var(--sekundaer-moerk-beige);
  }


/* -------------------------------------------------------------- */
/* KURV */
.kurv-box {
    width: 70%; /* Juster bredden efter behov */
    max-width: 30rem; /* Maximal bredde for at forhindre, at boksen bliver for bred på større skærme */
    margin: 10rem auto; /* Centrerer boksen vandret og giver 2rem margin øverst og nederst */
    padding: 2rem 7rem; /* 20px øverst og nederst, 70px i hver side */
    background-color: #f7f7ef; /* Baggrundsfarven for boksen */
    border: 0.12rem solid var(--sekundaer-beige); /* Ramme omkring boksen */
    border-radius: 0.3rem; /* Afrundede hjørner */
    text-align: center;
    font-family: "merriweather"; /* skrifttype*/
  }
  
  .kurv-box p {
    color: var(--skriftfarve); /* Farven på brødteksten */
    font-family: "merriweather"; /* skrifttype*/
  }
  /* img login */

  .kurv-img {
    width: 15rem; /* størrelsen af ikonerne (login og kurv) i header3-containeren */
    padding-bottom: 1.5rem; /* giver padding omkring hvert ikon */
  }